
.slides_container
  - images.each_with_index do |b, i|
    .slide
      = image_tag b.imagefile.url(:full)
      - unless b.caption.blank?
        .caption_smaller
          .event_title= b.caption



- if images.size > 1
  :javascript
    $(document).ready(function () {
      $(".slides_container").slick({dots: true});

    });